**/bin/
**/obj/
**/packages/
!src/PbiBench.Core/Packages/
!src/PbiBench.Core/Packages/**
!src/PbiBench.Semantic/Packages/
!src/PbiBench.Semantic/Packages/**
.tools/
.vs/
artifacts/
TestResults/
*.user
*.suo
vendor/TabularEditor2-2.28.0/
